* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gradient-primary {
  background: rgb(31, 70, 154);
  background: linear-gradient(
    360deg,
    rgba(31, 70, 154, 1) 0%,
    rgba(2, 106, 182, 1) 60%
  );
}

.border-primary {
  border-color: rgba(2, 106, 182, 1) !important;
}

body {
  width: 100%;
  height: min-content;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-image:  linear-gradient(0deg, transparent, rgba(219, 219, 219, 0.8), rgba(255, 255, 255, 0.8)), url("../images/bg_utb.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.logo {
  height: 80px;
  object-fit: contain;
}

/* Home */
.content-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 30px;
}

.title {
  color: #fff;
  background-color: #188754;
  border-radius: 10px 13px 13px 10px;
  margin: 10px 0px 30px 0px;
}

.number-of-yntkts{
  color: #fff;
  background-color: #16623d;
  border-radius: 10px;
}

.stay-text {
  color: #000000;
  background-color: #f6f6f6;
  border-radius: 10px 13px 13px 10px;
  margin: 10px 0px 30px 0px;
}

.stay-number{
  color: #fff;
  background-color: #16623d;
  border-radius: 10px;
}
/* End Home */